body{
    margin: 0px;
    background-color: rgba(139, 237, 240, 0.16);
}
p{
    margin: 0px;
    color: azure;
}
form{
    background-color: rgba(139, 237, 240, 0.16);
}
#head{
    width: 100%;
    background-color: lightseagreen;
    height: 75px;
}
#enter{
    border: rgba(211, 211, 213, 0.45) 3px solid;
    width: auto;
    margin-top: 15px;
    cursor: pointer;
}
#enter p{
    margin: 10px;
}
#logo {
    width: auto;
}

#body{
    margin-top: 55px;
}
#window{
    height: 650px;
    width: 100%;
    border: rgba(165, 168, 170, 0.7) 4px ridge;
}
#dialog-form{
    position: absolute;
    height: 250px;
    width: 350px;
    margin-left: 35%;
    margin-top: 30%;
    display: none;

}
#dialog-form p {
    width: 100px;
}
#shodow{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: none;
}

.head{
    background-color: lightseagreen;
    height: 30px;
}
.head p{
    padding: 5px;
}
.left{
    float: left;
}
.right{
    float: right;
}

.width{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
